<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665521402929-esi1ooqj2hvcsrrqlmq43r5r4ukqjakn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665521402929-esi1ooqj2hvcsrrqlmq43r5r4ukqjakn</string>
	<key>API_KEY</key>
	<string>AIzaSyDAJ3o4AP9YcR0hjwAeNyVjXl2h1SXJxjE</string>
	<key>GCM_SENDER_ID</key>
	<string>665521402929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sbs.studentapp</string>
	<key>PROJECT_ID</key>
	<string>student-app-3457d</string>
	<key>STORAGE_BUCKET</key>
	<string>student-app-3457d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665521402929:ios:c1ff9ceac6b5ca284c5110</string>
</dict>
</plist>